### IntelliJ IDEA ###
out
.idea
*.iml
algorithms-problems-solutions.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


### VS Code ###
.vscode/

### SONAR LINT ###
../.sonarlint
.sonarlint

### METADATA ###
.metadataout\
.metadata\
leet_code-everyday.iml

### CMAKE ###
cmake-build-debug
CMakeLists.txt
